/* Home page hero box */
.jumbotron
{
    line-height: 24px;
    padding: 20px;
    margin: 0 auto 15px auto;
    width: 1000px;
    background-color: #FFF;
    overflow-y: hidden;
    border: solid 1px #CDCDCD;
}

.hero-image-div
{
    margin-left: 50px;
    margin-right: 15px;
    margin-top: 7px;
    width: 450px;
}

.hero-image
{
    border-radius: 3px;
    border: solid 1px #CDCDCD;
}

.jumbotron h1
{
    font-size: 30px;
    font-weight: bold;
    border-bottom: none;
    margin-top: 5px;
    padding-bottom: 0;
}

.jumbotron p
{
    margin-top: 20px;
    font-size: 16px;
}

.jumbotron p a.btn
{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.jumbotron span
{
    font-size: 12px;
}

/* Home page feature boxes */
.feature-container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
        font-family: "Open Sans",HelveticaNeue,Helvetica,Arial;

}

.feature-box
{
    height: 310px;
    width: 323px;
    margin-left: 15px;
}

.feature-box .box-header .title
{
    font-weight: bold;
    font-size: 14px;
}

.feature-list
{
    width: 275px;
    line-height: 15px;
}

.feature-list img
{
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}

.feature-list div.title
{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 4px;
}

.feature
{
    margin-bottom: 20px;
}

/* Home page resources box */
ul.resource-list
{
    font-size: 14px;
    font-weight: normal;
    padding-left: 0;
}

.resource-list li
{
    margin-bottom: 8px;
}

/* Releases page */
.left-column
{
    width: 375px;
    position: relative;
    padding: 0 30px 0 0;
    float: left;
}

.left-column img
{
    float: left;
    margin-right: 15px;
}

.left-column p.bullet
{
    margin: 4px 0 0 49px;
    height: 85px;
    color: #484848;
}

.left-column p
{
    font-size: 12px;
}

.left-column table tbody tr, .left-column table tbody td
{
    border: none;
}

/* All content pages */
.features
{
    font-size: 20px;
    font-weight: bold;
    line-height: 2em;
}

.clearer
{
    clear: both;
}
