<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/theme/favicon.ico">

        <title>{{ page.title }}</title>

        <!-- Local CSS Files -->
        <link href="/theme/pinta.css" rel="stylesheet">
        <link href="/theme/octicons.css" rel="stylesheet">
        <link href="/theme/style.css" rel="stylesheet">

        <script src="/theme/jquery.js"></script>
        <script src="/theme/menus.js"></script>
    </head>

    <body class="{% if page.url == "/" %}backgrounded{% endif %}">
        <!-- Site Header -->
        <div class="header">
            <div class="container">
                <!-- Logo and home item -->
                <div class="dropdown left hamburger-menu">
                    <button class="octicon octicon-three-bars mobile-only js-dropdown"></button>
                    <ul class="dropdown-content">
                        <li><a href="/"><span class="octicon octicon-home"></span> Home Page</a></li>
                        <li><a href="/howto"><span class="octicon octicon-repo"></span> Documentation</a></li>
                        <li><a href="/releases"><span class="octicon octicon-cloud-download"></span> Downloads</a></li>
                        <li><a href="https://bugs.launchpad.net/pinta"><span class="octicon octicon-bug"></span> Bugs</a></li>
                        <li><a href="{{site.links.suggestions}}"><span class="octicon octicon-light-bulb"></span> Suggestions</a></li>
                        <li><a href="{{site.links.questions}}"><span class="octicon octicon-question"></span> Questions</a></li>
                        <li><a href="{{site.links.discussions}}"><span class="octicon octicon-comment-discussion"></span> Discussions</a></li>
                        <li><a href="/contact"><span class="octicon octicon-mail"></span> Contact</a></li>
                    </ul>
                </div>

                <div class="navbar-brand">
                    <a class="desktop-only" href="/"><div class="octicon octicon-home"></div></a> <span class="site-header"><a href="/">PintaProject</a> / <a href="/">Pinta</a></span>
                </div>
            </div>
        </div>

        <!-- Tab Menu -->
        {% if page.url != "/" %}
        <div class="page-header">
            <div class="container">
                <div class="desktop-only">
                    <div class="tabnav">
                        <nav class="tabnav-tabs">
                            <a href="/" class="tabnav-tab " title="Home Page"><span class="octicon octicon-home"></span></a>
                            <a href="/howto" class="tabnav-tab {% if page.url contains "/howto" %}selected{% endif %}" title=""><span class="octicon octicon-repo"></span> Documentation</a>
                            <a href="/releases" class="tabnav-tab {% if page.url contains "/releases" %}selected{% endif %}" title=""><span class="octicon octicon-cloud-download"></span> Downloads</a>
                            <a href="https://bugs.launchpad.net/pinta" class="tabnav-tab " title=""><span class="octicon octicon-bug"></span> Bugs</a>
                            <a href="https://communiroo.com/pintaproject/pinta/suggestions" class="tabnav-tab " title=""><span class="octicon octicon-light-bulb"></span> Suggestions</a>
                            <a href="https://communiroo.com/pintaproject/pinta/questions" class="tabnav-tab " title=""><span class="octicon octicon-question"></span> Questions</a>
                            <a href="https://communiroo.com/pintaproject/pinta/discussions" class="tabnav-tab " title=""><span class="octicon octicon-comment-discussion"></span> Discussions</a>
                            <a href="/contact" class="tabnav-tab {% if page.url contains "/contact" %}selected{% endif %}" title=""><span class="octicon octicon-mail"></span> Contact</a>
                        </nav>
                    </div>
                </div>
                <div class="mobile-only selected-tab-header">
                    {% if page.url contains "/howto" %}
                        Documentation
                    {% elsif page.url contains "/releases" %}
                        Downloads
                    {% elsif page.url contains "/contact" %}
                        Contact
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="container">
            <div class="container pad {% if page.url != "/" %} markdown-body {% endif %}">
                {{ content }}
            </div>
        </div>
    </body>
</html>
